<footer>

		<div class="redesSociales roboto">
			<p> Siguenos en:   </p>
			<a href=""><i class="icon-instagram"></i></a>
			<a href=""><i class="icon-twitter"></i></a>
			<a href=""><i class="icon-tumblr"></i></a>
			<a href=""><i class="icon-facebook"></i></a>
			<a href=""><i class="icon-github"></i></a>
		</div>
		<div class="columna roboto">
			<h6>KDMJ Team</h6>
			<ul>
				<li><a href="">Empresa</a></li>
				<li><a href="">Blog</a></li>
				<li><a href="">Declaracion de privacidad</a></li>
				<li><a href="">Terminos del servicio</a></li>
			</ul>
		</div>
		<div class="columna roboto">
			<h6>Asistencia tecnica</h6>
			<ul>
				<li><a href="">Centro de ayuda</a></li>
				<li><a href="">Manual de usuario</a></li>
				<li><a href="">Seguridad</a></li>
			</ul>
		</div>
		<div class="columna roboto">
			<h6>Contacto</h6>
			<ul>
				<li><a href="">Contacto</a></li>
				<li><a href="">Manual de usuario</a></li>
				<li><a href="">Seguridad</a></li>
			</ul>
		</div>
	<div class="copyRight">
		<p>© 2017 KDMJ Team, Inc. KDMJ Team es una marca registrada de KMDJ, Inc.</p>
	</div>
	</footer>