<header>
		<nav class="be-red white large-padding">
			<ul class=" no-list row center-xs middle-xs" style="list-style-type:none">
				<li class="col-md">
					<h2 class="no-margin" id="logo"> <%= link_to "CriptoPlay", root_path %> </h2>
				 </li>

				<li class="col-md">
					<%= link_to "Conocenos",  welcome_conocenos_path  %>
				</li>

				<li class="col-md">
					<%= link_to "Como Jugar",  welcome_aprende_path %>
				</li>
				  <li class="col-md">
				 	Iniciar Sesion
				  </li>
				  <li class="col-md">
				 	Crear Usuario
				  </li>
				  <!-- Opciones para inicio de sesion
				  <li class="col-md">
				 	Cerrar Sesion
				 </li> 
				 <li class="col-md">
				 	Iniciar Sesion
				  </li>
				<li class="col-md">
				 	Perfil
				  </li>-->
			</ul>
		</nav>
	</header>