<div id="templatemo_main centrar">
    	<h2 class="tituloprincipal">Equipo</h2>
        <div class="espacioEquipo">
            <div class="miembro">
            	<%= image_tag "jbasanta.png", :alt => "tamanoMiembro", :class => "tamanoMiembro" %>
                <p class="tituloprincipal">Jose Basanta</p> 
            </div>
            <div class="miembro">
            	<%= image_tag "jkauze.png", :alt => "tamanoMiembro", :class => "tamanoMiembro" %>
                <p class="tituloprincipal">Jesus Kauze</p> 
            </div>
            <div class="miembro">
            	<%= image_tag "mrodriguez.png", :alt => "tamanoMiembro", :class => "tamanoMiembro" %>
                <p class="tituloprincipal">Manuel Rodriguez</p> 
            </div>
            <div class="miembro">
            	            	<%= image_tag "dsegura.png", :alt => "tamanoMiembro", :class => "tamanoMiembro" %>
                <p class="tituloprincipal">David Segura</p>  
            </div>
            

        </div>