<h1>Pagina de resultados del dia</h1>

<% @arreglo_de_resultados.each_with_index  do |iterador,i|%>

	<h4>Resultado: <%=i+1%> </h4>
	<h4>Hora: <%=iterador.fecha%></h4>
	<h4>Moneda: <%=iterador.coin.nombre%></h4>
<%end%>