<div id="templatemo_wrapper">
<h1>Pagina de resultados del dia</h1>

<table class="rwd-table">
  <tr>
    <th>#</th>
    <th>Hora</th>
    <th>Moneda</th>

  </tr>

<% @arreglo_de_resultados.each_with_index  do |iterador,i|%>

	<tr>
    <td data-th="#"><%=i+1%></td>
    <td data-th="Hora"><%=iterador.fecha%></td>
    <td data-th="Moneda"><%=iterador.coin.nombre%></td>
  </tr>

<%end%>	
</table>
</div>