
<div class="espacioListaMonedas">
	

<% @arreglo_de_monedas.each do |iterador_moneda| %>
<div class="listaMonedas">
<p>Moneda: <%= iterador_moneda.nombre %></p>
<%=image_tag "#{iterador_moneda.nombre}.png", :class => "imagenCrypto2"%>
</div>
<%end%>
</div>